:root {
    --vp-custom-block-warning-border: transparent;
    --vp-custom-block-info-border: transparent;
    --vp-custom-block-tip-border: transparent;
    --vp-custom-block-danger-border: transparent;
    --vp-custom-block-details-border: transparent;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(92.06deg, #42d392 -17.9%, #43E97B 43.39%, #38F9D7 99.4%);
    --vp-home-hero-image-background-image: linear-gradient(
            -45deg,
            rgba(67, 233, 123, 0.3) 30%,
            #35495e80
    );
    --vp-home-hero-image-filter: blur(50px);
    --vp-code-block-bg: #f2f3f5;
}

.dark {
    --vp-button-alt-text: #ffffff;
    --vp-code-block-bg: #2e2e30;
}